.footer-social
    background #E7E9EB
    padding 25px 0
    position relative
    +below($tablet)
        display none
    .center
        display flex
        align-items center
        justify-content center
        > span
            lato 11
            color $azul
            line-height 1
            margin-right 28px
        .div
            height 70px
            width 1px
            background $azul
            margin 0 44px
        .social
            height 40px
            display block
            text-indent -9999px
            transition transform .3s
            &:hover
                transform translateY(-5px)
            + .social
                margin-left 40px
            &.facebook
                width 19px
                background $img('facebook-icone2.png') no-repeat center
            &.linkedin
                width 40px
                background $img('linkedin-icone2.png') no-repeat center
            &.instagram
                width 36px
                background $img('instagram-icone2.png') no-repeat center
            &.pinterest
                width 30px
                background $img('pinterest-icone2.png') no-repeat center
            &.youtube
                width 39px
                background $img('youtube-icone2.png') no-repeat center
        .espaco
            lato 28 black
            color $azul
            line-height 1
            &:hover
                color $amarelo
            span
                lato 28 light

footer
    background $azul
    border-top 2px solid #fff
    margin-top 11px
    position relative
    padding 30px 0
    &:before
        content ''
        position absolute
        top -5px
        width 100%
        height 2px
        background $amarelo
    .center
        clearfix()
    .links-1
        width 220px
        float left
        +below($tablet)
            display none
        a
            display block
            lato 14 black
            color #fff
            + a
                margin-top 3px
            &:hover
                color $amarelo
            span
                lato 14 light
    .info
        width 760px
        float left
        +below($tablet)
            width 100%
        .atendimento
            display flex
            justify-content center
            a:hover
                color $amarelo
            div
            a
                display block
                position relative
                padding-left 40px
                padding-top 2px
                lato 11
                color #fff
                margin-right 22px
                &:last-child
                    margin-right 0
                span
                    display block
                    lato 14 black
                &:before
                    content ''
                    width 33px
                    height 33px
                    position absolute
                    top 0
                    left 0
                    transition background .3s
                &.telefone:before
                    background $img('telefone-icone.png') no-repeat center
                &.whatsapp:before
                    background $img('whatssapp-icone.png') no-repeat center
                &.email:before
                    background $img('email-icone.png') no-repeat center
                &.email:hover:before
                    background $img('email-icone-amarelo.png') no-repeat center
                &.chat:before
                    background $img('chat-icone.png') no-repeat center
            +mobile()
                display block
                div
                a
                    display block
                    width 100%
                    margin-right 0
                    margin-bottom 10px
                    &:last-child
                        margin-bottom 0
        .endereco
            border-top 1px solid rgba(#fff, .2)
            padding-top 10px
            lato 14
            color #fff
            text-align center
            margin-top 25px
            +mobile()
                text-align left
    .links-2
        width 220px
        float left
        +below($tablet)
            display none
        clearfix()
        .wrapper
            float right
        a
            display block
            lato 11
            color #fff
            &:hover
                color $amarelo
            + a
                margin-top 2px
    .copyright
        width 100%
        float left
        border-top 1px solid #999C99
        padding-top 15px
        margin-top 30px
        p
            margin 0
            lato 10
            color #999C99
            text-align center
            span
                margin 0 3px
            a:hover
                color $amarelo
        +mobile()
            p
                text-align left
                span
                    display block
                    font-size 0
