header
    height 100px
    width 100%
    border-top 1px solid $azul
    .center
        height 100%
        clearfix()
    .logo
        display block
        float left
        width 182px
        height 100%
        background $img('talenco-marca.png') no-repeat center
        position relative
        font-size 0
        transform translateY(-7px)
        span
            position absolute
            right 0
            bottom 2px
            lato 10
            color $azul
    #nav-desktop
        float left
        width calc('100% - 277px')
        height 100%
        margin-left 95px
        +below($tablet)
            display none
        clearfix()
        .primaria
            clearfix()
            height 100%
            float left
            a
                display block
                float left
                height 100%
                transition background .3s
                padding 31px 28px 0
                lato 17 black
                color $azul
                text-align center
                + a
                    margin-left 1px
                span
                    display block
                    lato 15 light
                &:hover
                &.active
                    background #EBD085
        .secundaria
            clearfix()
            height 100%
            float left
            margin-left 70px
            a
                display block
                float left
                height 100%
                transition background .3s
                line-height 100px
                lato 11
                color $azul
                padding 0 10px
                + a
                    margin-left 1px
                &:hover
                &.active
                    background #EBD085
        .header-social
            float right
            height 100%
            clearfix()
            a
                display block
                width 17px
                height 100%
                text-indent -9999px
                float left
                transition transform .3s
                &:hover
                    transform translateY(-3px)
                &.facebook
                    background $img('facebook-icone.png') no-repeat center
                &.linkedin
                    background $img('linkedin-icone.png') no-repeat center
                &.instagram
                    background $img('instagram-icone.png') no-repeat center
                &.pinterest
                    background $img('pinterest-icone.png') no-repeat center
                &.youtube
                    background $img('youtube-icone.png') no-repeat center
                + a
                    margin-left 2px
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 28px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background $azul
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $azul
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($tablet)
            display none !important
        display none
        position absolute
        width 100%
        background $azul
        padding 25px 0
        border-bottom 4px solid darken($azul, 5)
        text-align center
        .primaria
            a
                display block
                lato 17 light
                color #fff
                + a
                    margin-top 10px
                span
                    font-size 15px
                &.active
                    color $amarelo
        .secundaria
            margin 20px 0
            a
                display block
                lato 12
                color #fff
                + a
                    margin-top 5px
                &.active
                    color $amarelo
        .header-social
            font-size 0
            text-align center
            a
                display inline-block
                width 17px
                height 17px
                text-indent -9999px
                &.facebook
                    background $img('facebook-icone.png') no-repeat center
                &.linkedin
                    background $img('linkedin-icone.png') no-repeat center
                &.instagram
                    background $img('instagram-icone.png') no-repeat center
                &.pinterest
                    background $img('pinterest-icone.png') no-repeat center
                &.youtube
                    background $img('youtube-icone.png') no-repeat center
                + a
                    margin-left 2px
