.anuncie
    border-top 1px solid $amarelo
    padding 50px 0 85px
    +mobile()
        padding 25px 0
    .imovel-enviado
        width 100%
        margin 0 auto
        max-width 600px
        border 1px solid $amarelo
        border-radius 3px
        lato 14
        color $azul
        text-align center
    form
        margin 0 auto
        width 100%
        max-width 600px
        h2
            height 42px
            padding-left 54px
            lato 14 light
            color $azul
            margin 40px 0 9px
            padding-top 12px
            &.proprietario
                background $img('avatar-icone.png') no-repeat left top
                margin-top 0
            &.imovel
                background $img('imoveis-icone.png') no-repeat left top
            &.localizacao
                background $img('local-icone3.png') no-repeat left top
            &.documentacao
                background $img('documentacao-icone.png') no-repeat left top
            &.observacoes
                background $img('observacoes-icone.png') no-repeat left top
        .erros
            width 100%
            border 1px solid #D34E4E
            color #D34E4E
            lato 11
            padding 10px
            margin-bottom 15px
            border-radius 3px
            line-height 1.5
        input[type=text]
        input[type=email]
        textarea
        select
            width 100%
            display block
            resize none
            outline none
            border none
            margin-bottom 5px
            background #F4F4F5
            lato 16
            font-style italic
            height 30px
            padding 0 8px
            +mobile()
                font-size 14px
            +placeholder()
                color $azul
        select
            padding 0 4px
        textarea
            padding 8px
            height 200px
            +mobile()
                height 100px
        .cep
            clearfix()
            input
                width calc('100% - 120px')
                float left
            a
                float left
                width 120px
                height 30px
                background $azul
                transition background .3s
                lato 16 bold
                color #fff
                text-align center
                line-height 30px
                +mobile()
                    font-size 14px
                &:hover
                    background $amarelo
        .radio
            width 100%
            height 30px
            background #F4F4F5
            padding 0 8px
            + .radio
                margin-top 5px
            span
                lato 16
                color $azul
                line-height 30px
                font-style italic
                display inline-block
                width 155px
                +mobile()
                    font-size 14px
                    width 135px
            input
                outline none
                line-height 30px
            label
                lato 16 bold
                color $azul
                + label
                    margin-left 10px
                +mobile()
                    font-size 14px
                    + label
                        margin-left 5px
        input[type=submit]
            margin-top 20px
            width 100%
            height 60px
            background $azul
            color #fff
            cursor pointer
            transition background .3s
            border 0
            outline 0
            lato 18 bold
            +mobile()
                font-size 14px
                height 40px
            &:hover
                background $amarelo
