.blog-categorias
    border-top 1px solid $amarelo
    padding 20px 0
    background $img('textura-azul.png') repeat center #16B1C0
    margin-bottom 12px
    .espaco-talenco
        background $img('elemento-marca.png') no-repeat center bottom
        width 100%
        height 82px
        position relative
        +tablet()
            background-position center left
        +mobile()
            background none
            height auto
        span
            display block
            position absolute
            width 305px
            color $azul
            background $img('elemento-direito-azul.png') no-repeat center right
            lato 25 light
            left 330px
            top 15px
            strong
                lato 25 black
            +tablet()
                left 230px
            +mobile()
                left 0
                width 265px
                position relative
                top 0
                font-size 20px
                padding-right 100px
                strong
                    font-size 20px
    nav
        width 100%
        text-align center
        margin-top 10px
        font-size 0
        a
            display inline-block
            lato 17 bold
            color #fff
            position relative
            margin 4px 15px
            &:hover
                color $azul
            + a:after
                content ''
                position absolute
                left -16px
                top -2px
                height calc('100% + 4px')
                width 2px
                background rgba(#fff, .4)
        +mobile()
            text-align left
            margin-top 15px
            a
                display block
                margin 2px 0
                font-size 15px
                +a:after
                    display none

.blog-show
    clearfix()
    .center
        clearfix()
    .capa
        background $img('textura-cinza.png') repeat center #CBCBCB
        padding 40px 0
        height 100%
        position relative
        margin-bottom 45px
        overflow hidden
        .center
            clearfix()
            height 100%
        .imagem
            width 66.667%
            float right
            position relative
            &:after
                content ''
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background $img('canto-degrade.png') no-repeat bottom right
            img
                width 100%
                display block
            span
                position absolute
                right 10px
                bottom 10px
                lato 12
                color #fff
                z-index 3
        .titulo-wrapper
            width 33.333%
            position absolute
            top 0
            left 0
            height 100%
            .titulo
                display table
                width 100%
                height 100%
                > div
                    display table-cell
                    vertical-align middle
                    text-align right
                    padding-right 30px
                    h1
                        lato 32 bold
                        color $azul
                        margin 0 0 20px
                        +tablet()
                            font-size 28px
                    span
                        display block
                        position relative
                        lato 13 bold
                        color $verde
                        padding-top 20px
                        &:before
                            content ''
                            position absolute
                            top 0
                            right 0
                            width 90px
                            height 2px
                            background $verde
        +mobile()
            padding 25px 0
            margin-bottom 25px
            .titulo-wrapper
                width 100%
                position relative
                .titulo
                    display block
                    > div
                        text-align left
                        h1
                            font-size 25px
                            margin-bottom 12px
                        span
                            padding-top 12px
                            &:before
                                right auto
                                left 0
            .imagem
                width 100%
                float left
                margin-top 20px
    article
        width 64%
        float right
        +mobile()
            width 100%
            margin-bottom 25px
        p
            lato 16
            color $azul
            line-height 1.6
            margin 1.2em 0
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
        a
            text-decoration underline
            color $verde
            &:hover
                text-decoration none
        img
            display block
            max-width 100%
        .comentarios
            margin-top 75px
            margin-bottom 50px
            +mobile()
                margin 40px 0 25px
    .leia-mais
        width 100%
        float left
        background $img('textura-marinho.png') repeat center $azul
        padding 45px 0
        margin-bottom 20px
        margin-top 25px
        +mobile()
            padding 25px 0
        .center
            display flex
            flex-wrap wrap
            a
                width calc('33.333% - 23.333px')
                margin-right 35px
                padding 10px 10px 50px
                transition background .3s
                position relative
                +mobile()
                    width 100%
                    margin-right 0
                    background $verde
                    + a
                        margin-top 10px
                &:hover
                    background $verde
                &:last-child
                    margin-right 0
                .imagem
                    width 100%
                    position relative
                    &:after
                        content ''
                        position absolute
                        width 100%
                        height 100%
                        top 0
                        left 0
                        background $img('canto-degrade.png') no-repeat bottom right
                    img
                        width 100%
                        display block
                    span
                        position absolute
                        right 10px
                        bottom 10px
                        lato 12
                        color #fff
                        z-index 3
                h4
                    text-align right
                    margin 10px 0 18px
                    lato 11
                    color #fff
                h3
                    lato 22
                    color #fff
                    margin 0 0 20px
                    +mobile()
                        font-size 18px
                p
                    lato 14
                    margin 0
                    color #fff
                .mais
                    position absolute
                    right 10px
                    bottom 10px
                    lato 11 bold
                    color #fff
                    padding-right 15px
                    display block
                    &:after
                        content ''
                        position absolute
                        right 0
                        top 2px
                        width 0
                        height 0
                        border-style solid
                        border-width 4px 0 4px 8px
                        border-color transparent transparent transparent #fff

.blog
    .center
        clearfix()
    aside
        width 29.5%
        float left
        +mobile()
            width 100%
            margin-bottom 25px
        .busca
            width 100%
            border 1px solid #ccc
            height 42px
            position relative
            margin-bottom 40px
            background #fff
            padding 0
            input[type=text]
                width calc('100% - 40px')
                height 100%
                border 0
                outline 0
                padding 0 10px
                lato 16
                color $azul
            input[type=submit]
                width 40px
                height 100%
                position absolute
                top 0
                right 0
                background $img('lupa-busca.png') no-repeat center
                border 0
                cursor pointer
                outline 0
        nav
            clearfix()
            a
                float left
                clear left
                display inline-block
                margin 3px 0
                lato 16
                color $azul
                padding 6px 25px 7px
                transition background .3s, color .3s
                position relative
                &:before
                    content ''
                    position absolute
                    left 0
                    top 50%
                    margin-top -5px
                    width 0
                    height 0
                    border-style solid
                    border-width 5px 0 5px 10px
                    border-color transparent transparent transparent $verde
                    transition border .3s
                &:hover
                &.active
                    background $verde
                    color #fff
                    &:before
                        border-color transparent transparent transparent #fff
                &:first-child
                    margin-top 0
        .newsletter
            border-top 2px solid $amarelo
            padding-top 20px
            margin-top 40px
            p
                margin 0 0 10px
                lato 16 bold
                color $amarelo
            input[type=text]
            input[type=email]
                height 42px
                width 100%
                border 1px solid $amarelo
                outline 0
                lato 16
                color $azul
                margin-bottom 4px
                padding 0 10px
            button
                width 100%
                height 87px
                background $amarelo
                border 0
                outline 0
                text-align center
                lato 32 bold
                color #fff
                cursor pointer
                transition background .3s
                &:hover
                    background $azul
                span
                    display inline-block
                    width 60px
                    height 47px
                    background $img('icone-ok-newsletter.png') no-repeat center
                    vertical-align middle
                    margin-left 15px
            #form-newsletter-response
                margin-top 3px
                display none
                border 1px solid #ccc
                lato 12
                color $azul
                text-align center
                padding 12px

        .voltar
            display block
            margin-top 100px
            width 135px
            height 60px
            background $verde
            lato 16
            color $azul
            line-height 60px
            padding-left 45px
            transition background .3s, color .3s
            position relative
            +mobile()
                margin-top 30px
            &:before
                content ''
                position absolute
                top 25px
                left 25px
                width 0
                height 0
                border-style solid
                border-width 5px 10px 5px 0
                border-color transparent $azul transparent transparent
                transition border-color .3s
            &:hover
                background $azul
                color #fff
                &:before
                    border-color transparent #fff transparent transparent

.blog-index > .center:first-child
    margin-top 30px

.blog-index
    clearfix()
    +above($mobile)
        padding-bottom 60px
    .center
        clearfix()
    .capa
        display block
        background $img('textura-marinho.png') repeat center $azul
        padding 40px 0
        height 100%
        position relative
        margin-bottom 45px
        overflow hidden
        &:hover
            h1
                color $amarelo !important
        .center
            clearfix()
            height 100%
        .imagem
            width 66.667%
            float right
            position relative
            &:after
                content ''
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background $img('canto-degrade.png') no-repeat bottom right
            img
                width 100%
                display block
            span
                position absolute
                right 10px
                bottom 10px
                lato 12
                color #fff
                z-index 3
        .titulo-wrapper
            width 33.333%
            position absolute
            top 0
            left 0
            height 100%
            +tablet()
                height auto
                position relative
                float left
            .titulo
                display table
                width 100%
                height 100%
                > div
                    display table-cell
                    vertical-align middle
                    text-align right
                    padding-right 30px
                    h1
                        lato 32 bold
                        color #fff
                        margin 0 0 20px
                        transition color .3s
                        +tablet()
                            font-size 28px
                    .categoria
                        display block
                        position relative
                        lato 13 bold
                        color $amarelo
                        padding-top 20px
                        &:before
                            content ''
                            position absolute
                            top 0
                            right 0
                            width 90px
                            height 2px
                            background $amarelo
                    p
                        lato 16
                        color #fff
                        margin 20px 0 40px
                    .mais
                        lato 11 bold
                        color #fff
                        padding-right 15px
                        display block
                        position relative
                        &:after
                            content ''
                            position absolute
                            right 0
                            top 2px
                            width 0
                            height 0
                            border-style solid
                            border-width 4px 0 4px 8px
                            border-color transparent transparent transparent #fff
        +mobile()
            padding 25px 0
            margin-bottom 25px
            .titulo-wrapper
                width 100%
                position relative
                .titulo
                    display block
                    > div
                        text-align left
                        h1
                            font-size 25px
                            margin-bottom 12px
                        p
                            margin 20px 0
                        .categoria
                            padding-top 12px
                            &:before
                                right auto
                                left 0
                        .mais
                            display inline-block
            .imagem
                width 100%
                float left
                margin-top 20px
    .blog-posts-wrapper
        width 64%
        float right
        +mobile()
            width 100%
            margin-bottom 35px
        .nenhum
            padding 20px
            background $verde
            lato 13
            color #fff
            text-align center
        .blog-posts
            display flex
            flex-wrap wrap
            .top4
                width calc('50% - 10px')
                margin-right 20px
                margin-bottom 20px
                background $azul
                transition background .3s
                &:hover
                    background darken($azul, 8)
                .imagem-wrapper
                    padding 12px
                    position relative
                    &:before
                        content ''
                        position absolute
                        top 0
                        left 0
                        width 100%
                        height calc('100% - 32px')
                        background $verde
                    .imagem
                        position relative
                        &:after
                            content ''
                            position absolute
                            width 100%
                            height 100%
                            top 0
                            left 0
                            background $img('canto-degrade.png') no-repeat bottom right
                            z-index 2
                        .data
                            position absolute
                            right 10px
                            bottom 10px
                            lato 12
                            color #fff
                            z-index 3
                        .categoria
                            display inline-block
                            position absolute
                            right 0
                            top 20px
                            background $verde
                            padding 4px
                            lato 11
                            color #fff
                            z-index 2
                        img
                            display block
                            width 100%
                            position relative
                            z-index 2
                h5
                    padding 0 45px 12px 12px
                    margin 0
                    lato 16
                    color $amarelo
                    position relative
                    &:after
                        content ''
                        position absolute
                        right 12px
                        top 4px
                        width 0
                        height 0
                        border-style solid
                        border-width 4px 0 4px 8px
                        border-color transparent transparent transparent $amarelo
                &:nth-child(2n)
                    margin-right 0
                +mobile()
                    width 100%
                    margin-right 0
            > div
                width 100%
            .thumb
                display block
                width 100%
                margin-bottom 20px
                clearfix()
                background $azul
                position relative
                transition background .3s
                &:hover
                    background darken($azul, 8)
                .seta
                    position absolute
                    right 25px
                    top 50%
                    margin-top -4px
                    width 0
                    height 0
                    border-style solid
                    border-width 4px 0 4px 8px
                    border-color transparent transparent transparent $amarelo
                    +mobile()
                        display none
                clearfix()
                .imagem
                    width 265px
                    float left
                    border-right 10px solid $verde
                    position relative
                    +mobile()
                        width 100%
                    img
                        width 100%
                        display block
                    span
                        display inline-block
                        position absolute
                        right 0
                        top 20px
                        background $verde
                        padding 4px
                        lato 11
                        color #fff
                        z-index 2
                .titulo
                    width calc('100% - 265px')
                    padding 30px
                    float left
                    +mobile()
                        width 100%
                        padding 15px
                    h5
                        lato 16
                        color $amarelo
                        margin 0 0 10px
                    span
                        lato 12
                        color #fff
        .blog-ver-mais
            border-top 1px solid $verde
            display block
            padding-top 15px
            text-align center
            margin-top 40px
            +mobile()
                margin-top 0
            > div
                display inline-block
                background $verde
                width 230px
                height 60px
                color $azul
                lato 16
                line-height 60px
                transition color .3s, background .3s
                &:hover
                    background $azul
                    color #fff
                    span
                        border-color #fff transparent transparent transparent
                span
                    width 0
                    height 0
                    border-style solid
                    border-width 9px 4.5px 0 4.5px
                    border-color $azul transparent transparent transparent
                    vertical-align middle
                    display inline-block
                    margin-left 5px
                    transition border .3s
