.busca
    background #E7E9EB
    padding 25px 0
    +mobile()
        padding-bottom 0

.busca-principal
    font-size 0
    clearfix()
    +mobile()
        text-align center
    span
        lato 12
        color $azul
        vertical-align middle
        +mobile()
            display block
            margin-bottom 7px
        strong
            lato 16
            display inline-block
            margin 0 5px
    select
        border 1px solid $azul
        outline 0
        lato 16
        color $azul
        background transparent
        width 160px
        height 30px
        vertical-align middle
        margin 0 10px
        + select
            margin-left 0
        transform translateY(-2px)
        +above($mobile)
            &[name='oferta']
                width 120px
        +tablet()
            width 145px
        +mobile()
            font-size 13px
            width 80%
            margin 0 auto 5px
            transform none
            display block
            + span
                padding 0 8px
            + select
                margin-left auto
    .handle-mostra-bairros
        width 160px
        height 30px
        border 1px solid $azul
        position relative
        display inline-block
        vertical-align middle
        transform translateY(-2px)
        lato 16
        color $azul
        padding 0 8px
        line-height 28px
        transition background .3s
        &:hover
            background $amarelo
        +tablet()
            width 145px
        +mobile()
            width 80%
            display block
            margin 0 auto
            text-align left
            font-size 13px
            transform none
    .busca-selects
        display inline-block
        +below($tablet)
            display block
            margin-bottom 10px
    .botao-busca-simples
        display inline-block
        transform translateY(-2px)
        +below($tablet)
            display block
            width auto
            float left
        +mobile()
            float none
            text-align center
            border-bottom 1px solid $amarelo
            padding-bottom 15px
    .envia-busca-simples
        display inline-block
        lato 16 bold
        color $azul
        border 1px solid $azul
        vertical-align middle
        padding 10px 24px
        margin-left 15px
        transition background .3s
        &:hover
            background $amarelo
        +below($tablet)
            margin-left 0
        +mobile()
            font-size 15px
            padding 8px 18px
            width 80%
            display block
            margin 0 auto
    .handle-busca-avancada
        lato 12
        color $azul
        display inline-block
        vertical-align middle
        float right
        position relative
        border 1px solid $azul
        transform translateY(-2px)
        padding 13px 14px
        padding-right 24px
        transition background .3s
        +below($tablet)
            float left
            margin-left 10px
        +mobile()
            line-height 1
            margin 15px auto
            width 80%
            display block
            float none
            transform none
        &:after
            content ''
            width 0
            height 0
            border-style solid
            border-width 8px 4px 0 4px
            border-color $azul transparent transparent transparent
            position absolute
            right 14px
            top 50%
            margin-top -4px
            transition border .3s
        &:hover
            background $amarelo
.busca-bairros
    display none
    &.aberto
        display block
    border-top 1px solid $verde
    margin-top 20px
    padding-top 20px
    position relative
    +mobile()
        margin-top 0
        padding-bottom 20px
    .busca-bairros-fechar
        width 16px
        height 16px
        border 1px solid $azul
        border-radius 100%
        position absolute
        right 0
        top 20px
        background $img('x-fechar-busca.png') no-repeat center
        text-indent -9999px
    h3
        lato 12 bold
        color $azul
        margin 0 0 15px
        display inline-block
    > label
        display inline-block
        margin-left 15px
        lato 12
        color $azul
        vertical-align middle
        input
            vertical-align middle
            outline 0
            margin-right 3px
    .busca-bairros-lista
        clearfix()
        width 100%
        label
            width 20%
            float left
            padding-right 20px
            vertical-align middle
            lato 12
            color $azul
            margin 0 0 4px
            +tablet()
                width 25%
            +mobile()
                width 100%
            input
                vertical-align middle
                outline 0
                margin-right 3px
    .bairro-label
        display none
        &.active
            display block

.busca-avancada
    display none
    clearfix()
    &.aberto
        display block
    border-top 1px solid $verde
    margin-top 20px
    padding-top 20px
    +mobile()
        margin-top 0
    .preco
    .metragem
        width 150px
        +mobile()
            width 100%
        span
            lato 12 bold
            color $azul
            display block
            padding-left 30px
            margin-bottom 10px
            line-height 20px
        input
            background #fff
            lato 12
            color $azul
            border 0
            outline 0
            display block
            width 100%
            padding 4px
            + input
                margin-top 3px
    .preco span
        background $img('busca-preco.png') no-repeat center left
    .metragem span
        background $img('busca-metragem.png') no-repeat center left
    .dormitorios
    .suites
    .banheiros
    .vagas
        width 141px
        +mobile()
            width 100%
        font-size 0
        > span
            lato 12 bold
            color $azul
            display block
            padding-left 30px
            margin-bottom 10px
            line-height 20px
        label
            cursor pointer
            input
                display none
            span
                display inline-block
                background #fff
                color $azul
                lato 12
                width 21px
                padding 4px 0
                text-align center
            input:checked + span
                background $amarelo
            + label
                margin-left 3px
    .dormitorios > span
        background $img('busca-dorms.png') no-repeat center left
    .suites > span
        background $img('busca-suites.png') no-repeat center left
    .banheiros > span
        background $img('busca-banheiros.png') no-repeat center left
    .vagas > span
        background $img('busca-vagas.png') no-repeat center left
    .codigo
        width 525px
        border-top 1px solid $verde
        padding-top 15px
        span
            lato 12
            color $azul
            display inline-block
            vertical-align middle
        input
            background #fff
            lato 12
            color $azul
            border 0
            outline 0
            display inline-block
            vertical-align middle
            padding 4px
            margin-left 5px
    .lazer
    .condicao
    .caracteristicas
    .ordenar
        width 200px
        +mobile()
            width 100%
        > span
            lato 12 bold
            color $azul
            display block
            padding-left 30px
            margin-bottom 10px
            line-height 20px
        label
            display block
            width 100%
            lato 12
            color $azul
            margin 0 0 4px
            input
                vertical-align middle
                outline 0
                margin-right 3px
    .ordenar > span
        line-height 1
        padding-left 0
    .ordenar
        border-top 1px solid $verde
        padding-top 15px
        margin-top 25px
    .lazer > span
        background $img('busca-lazer.png') no-repeat center left
    .condicao > span
        background $img('busca-condicaoimovel.png') no-repeat center left
    .caracteristicas > span
        background $img('busca-outras.png') no-repeat center left
    .bloco-1
        float left
        width 710px
        +mobile()
            width 100%
        .col:nth-child(1)
            width 390px
            float left
            clearfix()
            .preco
            .metragem
                float left
            .metragem
                margin-left 40px
            +tablet()
                width 370px
                .metragem
                    margin-left 30px
            +mobile()
                width 100%
                input
                    width 150px
                .metragem
                    margin-left 0
                    clear left
                    margin 20px 0
        .col:nth-child(2)
            width 320px
            float left
            clearfix()
            > div
                float left
                margin-bottom 22px
                &.dormitorios
                &.suites
                    margin-right 38px
                    +tablet()
                        margin-right 30px
            +mobile()
                width 100%
                > div
                    width 100%
                    margin-bottom 15px
                    &.dormitorios
                    &.suites
                        margin-right 0
    .codigo
        float left
        margin-top 40px
        +tablet()
            clear left
        +mobile()
            width 100%
            margin-top 25px
            input
                width 150px
                display block
                margin 5px 0 0
    .bloco-2
        width 490px
        float right
        padding-left 50px
        +tablet()
            clear left
            float left
            padding-left 0
        clearfix()
        .col
            float left
        +mobile()
            width 100%
            padding-left 0
            margin-top 5px
            .col
                width 100%
                display block
                + .col
                    margin-top 20px
    .envia-busca-avancada
        display block
        float left
        clear both
        width 100%
        background $verde
        text-align center
        lato 16 bold
        color $azul
        transition background .3s
        padding 12px 12px 14px
        margin-top 25px
        &:hover
            background $amarelo
        +mobile()
            font-size 15px
    .limpar
        display block
        text-align center
        margin-top 10px
        float left
        clear both
        width 100%
        padding-bottom 20px
        span
            position relative
            display inline-block
            padding-left 22px
            lato 12
            color $azul
            &:after
                content ''
                position absolute
                left 0
                top 50%
                margin-top -8px
                width 16px
                height 16px
                border 1px solid $azul
                border-radius 100%
                position absolute
                background $img('x-fechar-busca.png') no-repeat center
                text-indent -9999px

.home-atendimento + .busca
    border-bottom 1px solid $amarelo
    margin-top 10px
