.contato
    clearfix()
    padding 30px 0 65px
    border-top 1px solid $amarelo
    +mobile()
        padding 25px 0
    .left
        width 35%
        float left
        +tablet()
            width 40%
        +mobile()
            width 100%
            margin-bottom 25px
        h2
            lato 20 light
            margin 0 0 15px
            color $azul
            +mobile()
                font-size 18px
        .contato-enviado
            border 1px solid $amarelo
            border-radius 3px
            lato 14
            color $azul
            text-align center
        form
            width 100%
            clearfix()
            .erros
                width 100%
                border 1px solid #D34E4E
                color #D34E4E
                lato 11
                padding 10px
                margin-bottom 15px
                border-radius 3px
                line-height 1.5
            input[type=text]
            input[type=email]
            textarea
                width 100%
                display block
                resize none
                outline none
                border none
                margin-bottom 5px
                background #F4F4F5
                lato 16
                font-style italic
                height 30px
                padding 0 8px
                +mobile()
                    font-size 14px
                +placeholder()
                    color $azul
            textarea
                padding 8px
                height 100px
            input[type=submit]
                float right
                width 105px
                height 30px
                background $amarelo
                color $azul
                cursor pointer
                transition background .3s, color .3s
                border 0
                outline 0
                lato 16 bold
                +mobile()
                    font-size 14px
                &:hover
                    background $azul
                    color #fff
        .telefone
        .whatsapp
            padding-left 40px
            padding-top 2px
            lato 11
            color $amarelo
            span
                color $azul
                lato 20 light
                display block
        .telefone
            margin-top 30px
            background $img('telefone-icone2.png') no-repeat center left
        .whatsapp
            margin-top 15px
            background $img('whatssapp-icone2.png') no-repeat center left
    .right
        width 60%
        float right
        +tablet()
            width 55%
        +mobile()
            width 100%
        p
            margin 0 0 15px
            lato 14
            color $azul
        .mapa
            width 100%
            height 370px
            +mobile()
                height 300px
            iframe
                width 100%
                height 100%
                display block
