.empresa
    margin-bottom 60px
    border-top 1px solid $amarelo
    +mobile()
        margin-bottom 30px
    .faixa
        background $azul
        padding 35px 0
        +mobile()
            padding 25px 0
        clearfix()
        h3
            lato 18 bold
            color $amarelo
            margin 0 0 20px
        .video
            width 50%
            float left
            +below($tablet)
                width 100%
            .wrapper
                position relative
                width 100%
                height 0
                padding-bottom 56.25%
                iframe
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
        .texto
            width 50%
            float left
            padding-left 50px
            text-align center
            color #fff
            p:first-child
                padding-top 25px
                lato 24 light
                line-height 1.2
                margin 0
                position relative
                +mobile()
                    margin-top 20px
                strong
                    lato 14 bold
                &:before
                    content ''
                    position absolute
                    width 65px
                    height 2px
                    background $amarelo
                    left 50%
                    transform translateX(-50%)
                    top 0
                    +mobile()
                        left 0
                        transform none
            p:last-child
                padding 25px 0
                position relative
                margin 25px 0 0
                line-height 1.4
                lato 14
                em
                    lato 40
                    font-style normal
                    line-height 1
                strong
                    lato 24
                &:before
                &:after
                    content ''
                    position absolute
                    width 65px
                    height 2px
                    background $amarelo
                    left 50%
                    transform translateX(-50%)
                &:before
                    top 0
                &:after
                    bottom 0
            +below($tablet)
                width 100%
                padding 0
            +mobile()
                text-align left
                p:first-child
                    font-size 20px
                    strong
                        font-size 12px
                p:last-child
                    font-size 14px
                    padding 16px 0
                    &:before
                    &:after
                        left 0
                        transform none
                    em
                        font-size 22px
                    strong
                        font-size 18px
    .unidades
        padding-top 65px
        clearfix()
        +mobile()
            padding-top 30px
        .chamada
            width 290px
            float left
            +below($tablet)
                width 100%
                margin-bottom 25px
            h3
                lato 18 bold
                color $amarelo
                margin 0 0 10px
            p
                margin 0
                lato 14
                color $azul
        .unidades-lista
            width 825px
            float right
            display flex
            flex-wrap wrap
            +below($tablet)
                width 100%
            > div
                width calc('33.333% - 20px')
                float left
                margin-right 30px
                border-bottom 3px solid $amarelo
                +mobile()
                    width 100%
                    margin-right 0
                    + div
                        margin-top 20px
                &:last-child
                    margin-right 0
            .imagem
                position relative
                img
                    width 100%
                    display block
                &:before
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 80%
                    background-image linear-gradient(180deg, $azul 0%, transparent)
                    z-index 2
                span
                    position absolute
                    top 30px
                    width 100%
                    display block
                    text-align center
                    color #fff
                    lato 18 light
                    z-index 3
                    &:after
                        content ''
                        position absolute
                        bottom -20px
                        left 50%
                        transform translateX(-50%)
                        width 40px
                        height 2px
                        background #fff
            .logo
                padding 20px 0
                border-bottom 1px solid $azul
                text-align center
                width calc('100% - 30px')
                margin 0 auto
            .texto
                padding 20px 10px
                lato 14
                color $azul
                text-align center
                line-height 1.3
    .responsabilidade
        margin-top 80px
        +mobile()
            margin-top 30px
        h3
            lato 18 bold
            color $amarelo
            margin 0 0 10px
        p
            margin 0
            lato 14
            color $azul
