.mobile-check
    display none
    +mobile()
        display block

.banners
    height 500px
    position relative
    z-index 101
    +tablet()
        height 400px
    +mobile()
        height 200px
    .center
        width 100%
        height 100%
        max-width 1400px
        margin 0 auto
        background $azul
        position relative
    .cycle-prev
    .cycle-next
        width 25px
        height 25px
        position absolute
        z-index 105
        cursor pointer
        transform rotate(45deg)
        transition border .3s
        +mobile()
            display none
        &:hover
            border-color $amarelo
    .cycle-prev
        border-left 2px solid #fff
        border-bottom 2px solid #fff
        right 55px
        bottom 30px
    .cycle-next
        border-right 2px solid #fff
        border-top 2px solid #fff
        right 30px
        bottom 30px
    .banners-cycle
        height 100%
    .slide
        display block
        top 0
        left 0
        width 100%
        height 100%
        border-bottom 1px solid $amarelo
        background-size cover
        background-position center
        .box
            position absolute
            left 0
            bottom 0
            background rgba($azul, .6)
            padding 25px 40px
            width 330px
            transition background .3s
            color #fff
            &:after
                content ''
                position absolute
                right 25px
                bottom 25px
                width 0
                height 0
                border-style solid
                border-width 5px 0 5px 10px
                border-color transparent transparent transparent #fff
            p
                margin 0
                line-height 1
            .subtitulo
                lato 12
                margin-bottom 20px
            .legenda_1
                lato 10
                margin-bottom 5px
            .nome_do_empreendimento
                lato 14
            .titulo
                lato 32 light
                margin-bottom 10px
            .area
                lato 12
                margin-bottom 10px
            .valor
                lato 20
                span
                    lato 10
                    display block
                    margin-bottom 3px
            .legenda_2
                lato 10
                margin-top 5px
            +mobile()
                display none
        &:hover .box
            background $amarelo

.home-atendimento
    background $azul
    padding 60px 0 25px
    margin-top -30px
    +mobile()
        display none
    .center
        display flex
        justify-content center
        a:hover
            color $amarelo
        div
        a
            display block
            position relative
            padding-left 40px
            padding-top 2px
            lato 11
            color #fff
            margin-right 22px
            &:last-child
                margin-right 0
            span
                display block
                lato 14 black
            &:before
                content ''
                width 33px
                height 33px
                position absolute
                top 0
                left 0
                transition background .3s
            &.telefone:before
                background $img('telefone-icone.png') no-repeat center
            &.whatsapp:before
                background $img('whatssapp-icone.png') no-repeat center
            &.email:before
                background $img('email-icone.png') no-repeat center
            &.email:hover:before
                background $img('email-icone-amarelo.png') no-repeat center
            &.chat:before
                background $img('chat-icone.png') no-repeat center

.home-blog
    background $img('textura-azul.png') repeat center #16B1C0
    padding 30px 0 20px
    margin-bottom 50px
    +mobile()
        margin-bottom 25px
    .espaco-talenco
        background $img('elemento-marca.png') no-repeat center bottom
        width 100%
        height 82px
        position relative
        margin-bottom 25px
        +mobile()
            margin-bottom 15px
        +tablet()
            background-position center left
        +mobile()
            background none
            height auto
        span
            display block
            position absolute
            width 305px
            color $azul
            background $img('elemento-direito-azul.png') no-repeat center right
            lato 25 light
            left 330px
            top 15px
            strong
                lato 25 black
            +tablet()
                left 230px
            +mobile()
                left 0
                width 265px
                position relative
                top 0
                font-size 20px
                padding-right 100px
                strong
                    font-size 20px
    .posts
        display flex
        flex-wrap wrap
        a
            width calc('33.333% - 23.333px')
            margin-right 35px
            padding 10px 10px 50px
            transition background .3s
            position relative
            +mobile()
                width 100%
                margin-right 0
                background $azul
                + a
                    margin-top 10px
            &:hover
                background $azul
            &:last-child
                margin-right 0
            .imagem
                width 100%
                position relative
                &:after
                    content ''
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background $img('canto-degrade.png') no-repeat bottom right
                img
                    width 100%
                    display block
                span
                    position absolute
                    right 10px
                    bottom 10px
                    lato 12
                    color #fff
                    z-index 3
            h4
                text-align right
                margin 10px 0 18px
                lato 11
                color #fff
            h3
                lato 22
                color #fff
                margin 15px 0 20px
                +mobile()
                    font-size 18px
            p
                lato 14
                margin 0
                color #fff
            .mais
                position absolute
                right 10px
                bottom 10px
                lato 11 bold
                color #fff
                padding-right 15px
                display block
                &:after
                    content ''
                    position absolute
                    right 0
                    top 2px
                    width 0
                    height 0
                    border-style solid
                    border-width 4px 0 4px 8px
                    border-color transparent transparent transparent #fff

.home-imoveis
    padding 50px 0
    +mobile()
        padding 25px 0
    h1
        text-align center
        lato 32 light
        margin 0
        color $azul
        +mobile()
            text-align left
            font-size 24px
    h2
        background #BFC5CA
        padding 12px 0
        display block
        text-align center
        line-height 1
        margin 20px 0 5px
        span
            lato 18 light
            color $azul
            padding 0 95px
            position relative
            background $img('elemento-direito-azul.png') no-repeat center right
            &:after
                content ''
                position absolute
                width 81px
                height 6px
                top 50%
                left 0
                margin-top -3px
                transform rotate(180deg)
                background $img('elemento-direito-azul.png') no-repeat center
        +mobile()
            text-align left
            padding 12px
            span
                font-size 16px
                background none
                padding 0
                &:after
                    display none
    .lista-destaques
        clearfix()
        a
            display block
            width calc('33.333% - 3.333px')
            float left
            margin-right 5px
            position relative
            +mobile()
                width 100%
                margin-right 0
                + a
                    margin-top 5px
            &:hover .box
                background $amarelo
            &:last-child
                margin-right 0
            .imagem
                width 100%
                height 230px
                position relative
                background-size cover
                background-position center
            .box
                position absolute
                bottom 0
                left 0
                background rgba($azul, .6)
                transition background .3s
                min-width 200px
                min-height 115px
                padding 15px 20px
                color #fff
                p
                    lato 11
                    margin 0 0 6px
                    &.valor
                        margin-top 6px
                        span
                            lato 16 bold
                            display block
                h3
                    margin 0
                    lato 20
