.imoveis
    padding 30px 0 55px
    border-top 1px solid $amarelo
    +mobile()
        padding 25px 0
    .nenhum
        padding 20px
        background $verde
        lato 13
        color #fff
        text-align center
    .thumb
        background #F3F4F5
        padding 12px
        clearfix()
        + .thumb
            margin-top 20px
        .imagem
            width 400px
            height 230px
            background-size cover
            background-position center
            float left
            +mobile()
                height 0
                width 100%
                padding-bottom 56%
        .info-1
            width 220px
            float left
            padding 18px 30px 0
            color $azul
            +tablet()
                width calc('100% - 400px')
            +mobile()
                width 100%
                padding 18px 0 0
            p
                color $azul
                margin 0
                &.valor
                    lato 10
                    margin-bottom 20px
                    span
                        lato 20 bold
                        display block
                &.quartos
                &.suites
                &.banheiros
                &.vagas
                &.area
                    lato 14
                    padding-left 35px
                    margin 3px 0
                &.quartos
                    background $img('cama-icone.png') no-repeat center left
                &.suites
                    background $img('chuveiro-icone.png') no-repeat 3px center
                &.banheiros
                    background $img('ico-banheiros-marinho.png') no-repeat 2px center
                &.vagas
                    background $img('carro-icone.png') no-repeat 1px center
                &.area
                    background $img('dimensoes-icone.png') no-repeat 2px center
        .info-2
            width calc('100% - 660px')
            float left
            padding 18px 0 0
            color $azul
            +tablet()
                width 100%
            +mobile()
                width 100%
            p
            h3
                margin 0
                color $azul
            h3
                lato 22
            p
                &.sobre
                    lato 10
                    margin-bottom 2px
                &.endereco
                    lato 14
                    padding-left 20px
                    background $img('local-icone.png') no-repeat center left
                    margin 12px 0
                &.caracteristicas
                    lato 12
                    span + span
                        &:before
                            content ' - '
            nav
                margin-top 25px
                a
                    display inline-block
                    lato 12 bold
                    color #fff
                    padding 8px 14px
                    background $amarelo
                    transition background .3s
                    +mobile()
                        padding 8px 12px
                    &:hover
                        background $azul
                    + a
                        margin-left 4px
    .paginacao
        margin-top 40px
        text-align center
        font-size 0
        +mobile()
            margin-top 30px
        a
            display inline-block
            width 0
            height 0
            border-style solid
            text-indent -9999px
            vertical-align middle
            transition border .3s
            &:first-child
                margin-right 15px
            &:last-child
                margin-left 15px
            &.anterior
                border-width 5px 10px 5px 0
                border-color transparent $amarelo transparent transparent
                &:hover
                    border-color transparent $azul transparent transparent
            &.proxima
                border-width 5px 0 5px 10px
                border-color transparent transparent transparent $amarelo
                &:hover
                    border-color transparent transparent transparent $azul
        p
            display inline-block
            vertical-align middle
            margin 0
            lato 12
            color $azul
        form
            display inline-block
            margin 0 12px
            vertical-align middle
            input
                display inline-block
                lato 14 bold
                border 1px solid $amarelo
                outline 0
                background transparent
                color $azul
                text-align center
                width 40px
                height 30px

.fancybox-skin
    background #fff !important

.imoveis
    .voltar
        display block
        lato 12
        color $azul
        padding-left 20px
        position relative
        &:before
            content ''
            position absolute
            top 2px
            left 0
            width 0
            height 0
            border-style solid
            border-width 4.5px 9px 4.5px 0
            border-color transparent $amarelo transparent transparent
            transition border .3s
        &:hover:before
            border-color transparent $azul transparent transparent
    .boxes
        clearfix()
        padding 25px 0 75px
        +mobile()
            padding 25px 0
    .left
        width 66.667%
        float left
        .imagens
            .imagens-cycle-wrapper
                width 100%
                height 440px
                position relative
                +tablet()
                    height 330px
                +mobile()
                    height 220px
                #prev
                #next
                    width 50%
                    height 100%
                    position absolute
                    top 0
                    cursor pointer
                #prev
                    left 0
                    &:before
                        content ''
                        position absolute
                        left 10px
                        top 50%
                        transform translateY(-50%)
                        width 0
                        height 0
                        border-style solid
                        border-width 6.5px 13px 6.5px 0
                        border-color transparent #fff transparent transparent
                #next
                    right 0
                    &:before
                        content ''
                        position absolute
                        right 10px
                        top 50%
                        transform translateY(-50%)
                        width 0
                        height 0
                        border-style solid
                        border-width 6.5px 0 6.5px 13px
                        border-color transparent transparent transparent #fff
            .imagens-cycle
                width 100%
                height 100%
                > div
                    width 100%
                    height 100%
                    background-size cover
                    background-repeat no-repeat
                    background-position center
            .carousel-wrapper
                background $azul
                padding 12px
                border-top 2px solid #fff
                +mobile()
                    display none
            .imagens-carousel
                width 100%
                .cycle-slide
                    padding-right 6px
                    position relative
                    cursor pointer
                    height 100px
                    +tablet()
                        height 75px
                    &.cycle-slide-active .imagem
                        box-shadow inset 0px 0px 0px 2px $amarelo
                    .imagem
                        width 100%
                        height 100%
                        background-size cover
                        background-position center
                        transition box-shadow .3s
        .apresentacao
            padding 35px 70px 35px 35px
            h3
                lato 14 light
                color $azul
                margin 0 0 25px
            p
                lato 14
                color $azul
                margin 0
        +tablet()
            width 58%
        +mobile()
            width 100%
            .apresentacao
                padding 25px 0
    .right
        width 33.333%
        float right
        border-left 2px solid #fff
        +tablet()
            width 42%
        +mobile()
            width 100%
        .titulo
            background #7F9BAC
            padding 20px 30px
            +mobile()
                padding 15px
            lato 30 light
            color #fff
            border-bottom 2px solid #fff
            span
                lato 20
                display block
        .info
            background $azul
            padding 20px 30px
            +mobile()
                padding 15px
            p
                margin 0
                color #fff
                &.codigo
                    border-bottom 1px solid lighten($azul, 20)
                    lato 11
                    padding-bottom 3px
                    margin-bottom 10px
                    span
                        lato 14
                &.sobre
                    lato 12
                    span
                        display block
                        lato 10
                &.valor
                    lato 10
                    margin 12px 0
                    span
                        lato 20 bold
                        display block
                &.quartos
                &.suites
                &.banheiros
                &.vagas
                &.area
                &.lazer
                    lato 14
                    padding-left 35px
                    margin 3px 0
                &.quartos
                    background $img('cama-icone2.png') no-repeat center left
                &.suites
                    background $img('chuveiro-icone2.png') no-repeat 3px center
                &.banheiros
                    background $img('ico-banheiros.png') no-repeat 2px center
                &.vagas
                    background $img('carro-icone2.png') no-repeat 1px center
                &.area
                    background $img('dimensoes-icone2.png') no-repeat 2px center
                &.lazer
                    background $img('lazer-icone.png') no-repeat 2px center
            ul
                margin 0
                padding-left 35px
                font-size 0
                clearfix()
                li
                    lato 13
                    color #fff
                    width 50%
                    display inline-block
                    vertical-align top
                    margin 2px 0
                    position relative
                    list-style-type none
                    padding 0 .8em
                    +below($tablet)
                        width 100%
                    &:before
                        content ''
                        width 2px
                        height 2px
                        position absolute
                        top .45em
                        left 0
                        background #fff
                        border-radius 100%
        .imoveis-contato
            background $amarelo
            border-top 2px solid #fff
            padding 20px 30px
            +mobile()
                padding 15px
            form
                clearfix()
            .contato-enviado
                border 1px solid $azul
                border-radius 3px
                lato 14
                color $azul
                text-align center
            .erros
                width 100%
                border 1px solid #D34E4E
                color #D34E4E
                lato 11
                padding 10px
                margin-bottom 15px
                border-radius 3px
                line-height 1.5
            input[type=text]
            input[type=email]
            textarea
                width 100%
                display block
                resize none
                outline none
                border none
                margin-bottom 5px
                background rgba(#fff, .3)
                lato 16
                font-style italic
                height 30px
                padding 0 8px
                +mobile()
                    font-size 14px
                +placeholder()
                    color $azul
            textarea
                padding 8px
                height 100px
            input[type=submit]
                float right
                width 105px
                height 30px
                background $azul
                color #fff
                cursor pointer
                transition background .3s, color .3s
                border 0
                outline 0
                lato 16 bold
                +mobile()
                    font-size 14px
                &:hover
                    background darken($azul, 8)
            h3
                lato 18 light
                color $azul
                text-align center
                margin 0 0 15px
    .plantas
        border-top 2px solid $azul
        padding 30px 30px 10px
        background #E7E9EB
        +mobile()
            padding 15px 15px 5px
        h3
            lato 14 light
            color $azul
            margin 0 0 12px
        > div
            font-size 0
        a
            display inline-block
            width calc('20% - 16px')
            vertical-align top
            margin-right 20px
            margin-bottom 20px
            border 2px solid #fff
            transition border .3s
            &:hover
                border-color $amarelo
            &:nth-child(5n)
                margin-right 0
            +tablet()
                width calc('25% - 15px')
                &:nth-child(5n)
                    margin-right 20px
                &:nth-child(4n)
                    margin-right 0
            +mobile()
                width calc('33.333% - 6.667px')
                margin-right 10px
                margin-bottom 10px
                &:nth-child(5n)
                    margin-right 10px
                &:nth-child(3n)
                    margin-right 0
            img
                width 100%
                display block
                padding 10px
                background #fff
    .localizacao
        background $azul
        padding 30px
        h3
            lato 14 light
            color #fff
            margin 0 0 12px
        p
            margin 0
            lato 14
            color #fff
            padding-left 20px
            background $img('local-icone2.png') no-repeat center left
            margin-bottom 15px
        #map
            width 100%
            height 550px
            iframe
                display block
                width 100%
                height 100%
        +mobile()
            padding 15px
            #map
                height 300px
    .compartilhamento
        border-top 2px solid $amarelo
        margin-top 40px
        padding-top 15px
        p
            display inline-block
            lato 12 bold
            color $amarelo
            margin 0
            + p
                margin-left 22px
            +mobile()
                display block
                + p
                    margin-top 5px
                    margin-left 0
            a
                display inline-block
                width 17px
                height 18px
                vertical-align bottom
                text-indent -9999px
                &.facebook
                    background $img('facebook-icone.png') no-repeat center
                &.twitter
                    background $img('twitter-icone.png') no-repeat center
                &.email
                    background $img('email-icone2.png') no-repeat center
                &.imprimir
                    background $img('impressao-icone.png') no-repeat center
    .ofertas
        background #E7E9EB
        margin 60px 0 40px
        padding 40px 0
        h3
            lato 20
            color $azul
            text-align center
            margin 0 0 20px
        +mobile()
            margin 35px 0 25px
            padding 25px 0 3px
            h3
                font-size 16px
        +tablet()
            padding 40px 0 18px
        .center > div
            font-size 0
        a
            display inline-block
            vertical-align top
            width calc('16.667% - 18.333px')
            margin-right 22px
            &:last-child
                margin-right 0
            +tablet()
                width calc('25% - 16.5px')
                margin-bottom 22px
                &:last-child
                    margin-right 22px
                &:nth-child(4n)
                    margin-right 0
            +mobile()
                width calc('50% - 11px')
                margin-bottom 22px
                &:last-child
                    margin-right 22px
                &:nth-child(2n)
                    margin-right 0
            .imagem
                width 100%
                height 0
                padding-bottom 100%
                background-size cover
                margin-bottom 7px
            p
                color $azul
                margin 0
                transition color .3s
            &:hover p
                color $amarelo
            .valor
                lato 16
            .bairro
                lato 14
            .info
                lato 11
                span + span:before
                    content ' | '

@media print
    header
    footer
    .footer-social
    .voltar
    .compartilhamento
    .ofertas
    .carousel-wrapper
    .imoveis-contato
        display none !important
    .imagens-cycle-wrapper
        height 300px !important
    .center
        width 100%
    .left
        width 35%
    .right
        width 65%

