.trabalhe-conosco
    border-top 1px solid $amarelo
    padding 50px 0 80px
    min-height 380px
    background $img('trabalhe-conosco.jpg') no-repeat 46% bottom
    background-size 390px auto
    +tablet()
        background none
    +mobile()
        background none
        padding 25px 0
    +tablet()
        margin-bottom -8px
    .center
        clearfix()
    .left
        width 33%
        float left
        h2
            lato 28 light
            color $azul
            margin 0 0 20px
        p
            margin 0
            lato 16
            color $azul
            width 80%
            + p
                margin-top .5em
        +mobile()
            width 100%
            margin-bottom 25px
            h2
                font-size 22px
            p
                font-size 15px
                width 100%
        +tablet()
            width 50%
            h2
                font-size 26px
            p
                font-size 15px
    .right
        width 35%
        float right
        h3
            lato 20 light
            color $azul
            margin 0 0 3px
        > p
            lato 16 bold
            color $azul
            margin 0 0 25px
        +mobile()
            width 100%
            h3
                font-size 18px
            p
                font-size 15px
        .curriculo-enviado
            border 1px solid $amarelo
            border-radius 3px
            lato 14
            color $azul
            text-align center
        form
            width 100%
            clearfix()
            .erros
                width 100%
                border 1px solid #D34E4E
                color #D34E4E
                lato 11
                padding 10px
                margin-bottom 15px
                border-radius 3px
                line-height 1.5
            input[type=text]
            input[type=email]
                width 100%
                display block
                resize none
                outline none
                border none
                margin-bottom 5px
                background #F4F4F5
                lato 16
                font-style italic
                height 30px
                padding 0 8px
                +mobile()
                    font-size 14px
                +placeholder()
                    color $azul
            #curriculo
                height 30px
                width 100%
                border 2px solid $amarelo
                text-align center
                overflow hidden
                padding 0 10px
                position relative
                display block
                cursor pointer
                transition border .3s, background .3s
                &:hover
                    border-color $azul
                &.active
                    border-color $azul
                    background $azul
                    span
                        color #fff
                input
                    opacity 0
                    position absolute
                    top 0
                    left 0
                    width 0
                    height 0
                    z-index 0
                    visibility hidden
                span
                    white-space nowrap
                    overflow hidden
                    display block
                    line-height 26px
                    text-overflow ellipsis
                    lato 16
                    color $azul
                    font-style italic
                    transition color .3s
                    +mobile()
                        font-size 14px
            input[type=submit]
                margin-top 5px
                width 100%
                height 30px
                background $amarelo
                color $azul
                cursor pointer
                transition background .3s, color .3s
                border 0
                outline 0
                lato 16 bold
                +mobile()
                    font-size 14px
                &:hover
                    background $azul
                    color #fff
